:root {
  --color-light: hsl(0, 0%, 100%);
  --color-red: #EA1D2C;
  --color-black: #000000;
  --font-body: 'Poppins', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: var(--font-body);
}

.text-red {
  color: var(--color-red);
}

.text-light {
  color: var(--color-light);
}

.sidebar {
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  color: var(--color-black);
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-nav .nav-link:hover {
  background-color: #ea1d2bcc;
}

.sidebar-nav .nav-link i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.sidebar-nav .nav-link .ml-2 {
  margin-left: 10px;
}

.sidebar-nav .nav-link .ml-4 {
  margin-left: 40px;
}


.sidebar-nav .nav-link .ml-4 {
  margin-left: 40px;
}

.sidebar-footer {
  color: var(--color-red);
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}