@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar-header,
  .sidebar-footer {
    text-align: center;
  }

  .sidebar-nav .nav-link {
    justify-content: center;
  }

  .navbar-custom .container-fluid {
    margin-left: 0;
  }

  main {
    padding: 0 15px;
  }
}

/* Estilos adicionais para a modal */
.modal-header h4 {
  font-weight: bold;
}

.modal-body h6,
.modal-body h5 {
  margin-top: 15px;
}

.modal-body .form-check-label {
  margin-left: 10px;
}

.modal-body .form-control {
  margin-bottom: 10px;
}

.modal-footer .btn-primary {
  background-color: var(--color-red);
  border: none;
}

.modal-footer .btn-primary:hover {
  background-color: #c71720;
}

/* Estilos para os radio buttons selecionados */
.form-check-input:checked {
  background-color: var(--color-red);
  border-color: var(--color-red);
}

.small-form {
  width: 44px;
}