@media (max-width: 1000px) {


    #col-one {
        display: flex;
        flex-direction: column;
    }

    .slider {
        width: 48px;
        height: 25px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 19px !important;
        width: 18px !important;
        border-radius: 50%;
        right: 5px;
        bottom: 5px;
        top: 2px;
        background-color: white;
        transition: .4s;
    }
}



.ctn-prince {
    display: flex;
    flex-direction: row;
}

.division {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-acess {}

.acess-1 {
    font-size: 18px;
    font-weight: 500;
}

.acess-2 {
    font-size: 14px;
    color: gray;
}

.btn-in {
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.btn-in button {
    border: none;
    width: 260px;
    height: 30px;
    color: white;
    background-color: red;
    border-radius: 20px;
}

.dono {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    gap: 15px;
}

.relatorio {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin: 0;
}

.relatorio p {
    margin: 0;
    padding-top: 0;
}

.ver-mais-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    color: red;
}

.btnacess:hover {
    background-color: rgb(94, 0, 0);

}

.ver-mais-link:hover {

    color: rgb(139, 0, 0);
}

#col-one {
    margin-left: 250px;
    padding-right: 30px;
    padding-top: 5px;
    padding-left: 0;
    overflow: auto;
    z-index: 5;
}