:root {
  --color-light: hsl(0, 0%, 100%);
  --color-red: #ea1d2c;
  --color-black: #000000;
  --font-body: 'Poppins', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: var(--font-body);
}

#topdisable {
  margin-left: 250px;
}

img {
  max-width: 100%;
}

.text-red {
  color: var(--color-red);
}

.text-light {
  color: var(--color-light);
}

.sidebar {
  background-color: var(--color-light);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.sidebar-header {
  color: var(--color-red);
  padding: 20px 0;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  color: var(--color-black);
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sidebar-nav .nav-link:hover, .sidebar-nav .nav-link.active {
  background-color: #fde9ea;
  color: var(--color-red);
}

.sidebar-nav .nav-link i {
  font-size: 1.2rem;
  margin-right: 10px;
}

.sidebar-nav .nav-link .ml-2 {
  margin-left: 10px;
}

.sidebar-nav .nav-link .ml-4 {
  margin-left: 40px;
}

.sidebar-footer {
  color: var(--color-red);
  padding: 20px 0;
  margin-bottom: 20px;
}

.btn-red {
  background-color: var(--color-red);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-red:hover {
  background-color: #cc1724;
  color: var(--color-light);
}

.btn-outline-red {
  background-color: var(--color-light);
  color: var(--color-red);
  border: 1px solid var(--color-red);
  margin-left: 7px;
  margin-right: 2px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.btn-outline-red:hover {
  background-color: #fde9ea;
  color: #cc1724;
  cursor: pointer;
}

#col-one {
  margin-left: 250px;
  padding-right: 30px;
  padding-top: 5px;
  padding-left: 0;
  overflow: auto;
  z-index: 5;
}


.btn-grey {
  background-color: #dadada;
  color: #767676;
  border: none;
  border-radius: 10px;
  font-weight: 500 !important;
  transition: all 0.3s ease;
}

.btn-grey:hover {
  background-color: #7c7c7c;
  color: var(--color-light);
}

/* Adicionando barra de rolagem para telas menores que 720px */
@media (max-width: 720px) { body, html { overflow-y: auto;}
}